@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#root {
    display: flex;
    max-width: 393px;
    height: 852px;
    justify-content: center;
    align-items: center;
    background-image: url('/public/songBG.png');
    background-size: cover;
    background-position: center;
}