#root {
    position: relative;
    display: flex;
    max-width: 393px;
    height: 852px;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard-Regular';
    overflow: hidden;
}

#root::before {
    content: "";
    position: absolute;
    width: 393px;
    height: 852px;
    background-image: url('/public/songBG.svg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}

#root > * {
    position: relative;
    z-index: 1; 
}